<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>


    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="../css/login.css">

  </head>
  <body>

    <script type="text/javascript" src="../js/login.js">


    </script>
    <form class="box" >
      <h1>Login</h1>
      <input type="text" name="uid" id="uid" placeholder="Enter  Your ID">
      <input type="password" name="upassword" id="upassword" placeholder="Enter Your Password">
      <div id="loginmsg">

      </div>
      <input type="button" name="submit" value="Login" onclick="f1()">
      <a href="register.html">Register</a>

    </form>

  </body>
</html>
